.auth

  &__logo
    width 50%
    height auto
    margin 20px

  &__panel
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color $secondary

    .q-field
    
      .q-field__control
        
        input
          color $accent
        
        &:before
          border-color $dark

        &:after
          height 1px
          background-color $info

      .q-field__label
        font-weight 300
        color $quinary
        
  &__tab

    .q-btn__wrapper
      padding 0 2px 3px