.auth
  display flex
  flex-direction column

  &__intro
    flex 4
    align-items flex-end
    justify-content center

    .q-tab__label
      font-weight 300

  &__panel
    flex 4
    margin-top -20px
    border-top-left-radius 20px
    border-top-right-radius 20px

    .q-field__label
      font-weight 300