.auth

  &__logo
    padding 30px 0
    // background-color #333
    text-align center

    &__image
      width 100px

  &__content
    flex 1

  &__panel
    display flex
    flex 1
    align-items center
    justify-content center

    .q-field
    
      .q-field__control
        
        input
          color $accent
        
        &:before
          border-color $info

        &:after
          height 1px

      .q-field__label
        font-weight 300
        color $accent
        
  &__tab

    .q-btn__wrapper
      padding 0 2px 3px