.chat

  &__header
    border-bottom-left-radius 30px
    border-bottom-right-radius 30px

  &__message
    margin-bottom 50px

    &:last-of-type
      margin-bottom 30px

  .q-message
    max-width 80%
    position relative

  .q-message-avatar
    width 36px
    height 36px
    min-width 36px

  .q-message-text
    padding 24px

    &:before
      display none

  .q-message-stamp
    margin-top 10px
    position absolute
    top 100%
    color $accent

    &:before
      font-family 'Line Awesome Free'
      font-weight 900
      content '\f00c'
      position absolute
      color $primary

  .q-message-received
    margin-right auto
    text-align left

    .q-message-text
      float left
      clear left
      background-color $primary
      border-radius 0 20px 20px 0

      &:first-of-type
        border-radius 20px 20px 20px 0

      &:last-of-type
        border-radius 0 20px 20px 20px

      &:only-child
        border-radius 20px

      .q-message-text-content
        color #fff

    .q-message-stamp
      left 20px

      &:before
        left -20px

  .q-message-sent
    margin-left auto
    text-align right

    .q-message-text
      float right
      clear right
      background-color #fff
      border-radius 20px 0 0 20px

      &:first-of-type
        border-radius 20px 20px 0 20px

      &:last-of-type
        border-radius 20px 0 20px 20px

      &:only-child
        border-radius 20px

      .q-message-text-content
        color $primary

    .q-message-stamp
      right 20px

      &:before
        right -20px

  .q-field--outlined
    
    .q-field__control
      background-color #fff
      
      input
        padding 16px 12px
        color $accent
      
      &:before
        border none

      &:after
        border none

  .q-field--focused

    .q-field__control

      &:after
        border-color $accent
        border-width 1px