$primary    = #070918
$secondary  = #03040B
$tertiary   = #101228
$quaternary = #272952
$quinary    = #64648f
$accent     = #7f81ac
$dark       = #383d73

$positive   = #21BA45
$negative   = #C10015
$info       = #EE5173
$warning    = #F2C037
