@keyframes background
  for index in 0..100
    {1% * index}
      transform scale(math(0, 'random') * 1.1 + 0.8) translateX(math(0, 'random') * 10 + -10 + '%') translateY(math(0, 'random') * 5 + -5 + '%')